<body>
  <header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom nav-spacer">
      <div class="container">
        <a class="navbar-brand  mr-lg-10" href="../index.html">
          <%= image_tag("innogine-logo-v2.png", :alt => "white") %>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="../index.html">
                  <%= image_tag("innogine-logo-v2-absolute.png", :alt => "blue") %>
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-ui-04 d-lg-none"></i>
                <span class="nav-link-inner--text">Services</span>
              </a>
              <div class="dropdown-menu dropdown-menu-xl">
                <div class="dropdown-menu-inner">
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">Design</h6>
                      <p class="description d-none d-md-inline-block mb-0">Learn more about our branding and user interface design services.</p>
                    </div>
                  </a>
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-palette"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="heading text-primary mb-md-1">Development</h6>
                      <p class="description d-none d-md-inline-block mb-0">Learn more about our website, ecommerce and application development services.</p>
                    </div>
                  </a>
                  <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-ui-04"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h5 class="heading text-warning mb-md-1">Growth</h5>
                      <p class="description d-none d-md-inline-block mb-0">Learn more about our marketing, analytics, optimiation and automation services.</p>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                <i class="ni ni-collection d-lg-none"></i>
                <span class="nav-link-inner--text">Store</span>
              </a>
              <div class="dropdown-menu">
                <a href="../examples/landing.html" class="dropdown-item">Printing</a>
                <a href="../examples/profile.html" class="dropdown-item">Domain</a>
                <a href="../examples/login.html" class="dropdown-item">Hosting</a>
                <a href="../examples/register.html" class="dropdown-item">Security</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                <i class="fa fa-facebook-square"></i>
                <span class="nav-link-inner--text d-lg-none">Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                <i class="fa fa-instagram"></i>
                <span class="nav-link-inner--text d-lg-none">Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                <i class="fa fa-twitter-square"></i>
                <span class="nav-link-inner--text d-lg-none">Twitter</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
                <i class="fa fa-linkedin"></i>
                <span class="nav-link-inner--text d-lg-none">LinkedIn</span>
              </a>
            </li>
            <li class="nav-item d-none d-lg-block ml-lg-4">
              <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="nav-link-inner--text">Contact Us</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-innogine">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>





        <div>
                <div id="hero-carousel" class="carousel slide" data-ride="carousel">

                    <ol class="carousel-indicators">
                        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#hero-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#hero-carousel" data-slide-to="2" class=""></li>
                        <li data-target="#hero-carousel" data-slide-to="3" class=""></li>
                    </ol>

                    <div class="carousel-inner">

                        <div class="carousel-item item active">
                            <div class="container py-lg-md d-flex">
                                <div class="col px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1 class="display-3 text-white">
                                                The Innovation Engine
                                                <span>an innovative digital consultancy
                                                <!-- Building new methods for alliance, joint venturing, flexiblity, and the creation of buyers purchasing power.  -->
                                                </span>
                                            </h1>
                                            <p class="lead text-white">Plan, Design, Build, Grow. Your vision deserves superior attention to detail and experties to exeute. Lets grow together.</p>
                                            <div class="btn-wrapper">

                                                <a href="#build" class="btn btn-info btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                                    <span class="btn-inner--text">Let's Grow</span>
                                                </a>
                                                
                                                <a href="#build" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                                                    <span class="btn-inner--text">Contact Us</span>
                                                </a>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item item">
                            <div class="container py-lg-md d-flex">
                                <div class="col px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1 class="display-3  text-white">
                                                Design inspired by data
                                                <span>laser focused on growth</span>
                                            </h1>
                                            <p class="lead  text-white">Awe inspiring design that turns heads. Awe inspiring design that is informed by data. Awe inspiring design that ensures growth. Lets grow together.</p>
                                            <div class="btn-wrapper">

                                                <a href="#build" class="btn btn-info btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                                    <span class="btn-inner--text">Let's Grow</span>
                                                </a>
                                                
                                                <a href="#build" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                                                    <span class="btn-inner--text">Contact Us</span>
                                                </a>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                    

                        <div class="carousel-item item">
                            <div class="container py-lg-md d-flex">
                                <div class="col px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1 class="display-3  text-white">
                                                Digital Infrastrucutre
                                                <span>laser focused on growth</span>
                                            </h1>
                                            <p class="lead  text-white">Cutting edge Websites, Online Stores, Apps. We are vision builders at our core. Lets grow together.</p>
                                            <div class="btn-wrapper">

                                                <a href="#build" class="btn btn-info btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                                    <span class="btn-inner--text">Let's Grow</span>
                                                </a>
                                                
                                                <a href="#build" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                                                    <span class="btn-inner--text">Contact Us</span>
                                                </a>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="carousel-item item">
                            <div class="container py-lg-md d-flex">
                                <div class="col px-0">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <h1 class="display-3 text-white">
                                                Growth as a service
                                                <span>laser focused on growth</span>
                                            </h1>
                                            <p class="lead  text-white">Using advanced Marketing and Experimentation tools and techniques to rapidly achieve your growth goals.</p>
                                            <div class="btn-wrapper">

                                                <a href="#build" class="btn btn-info btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                                                    <span class="btn-inner--text">Let's Grow</span>
                                                </a>
                                                
                                                <a href="#build" class="btn btn-white btn-icon mb-3 mb-sm-0">
                                                    <span class="btn-inner--icon"><i class="ni ni-email-83"></i></span>
                                                    <span class="btn-inner--text">Contact Us</span>
                                                </a>
                                            </div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>



                    <a class="carousel-control-prev" href="#hero-carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#hero-carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>

            
        </div>

        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-info rounded-circle mb-4">
                      <i class="ni ni-ruler-pencil"></i>
                    </div>
                    <h6 class="text-info text-uppercase">Design</h6>
                    <p class="description mt-3">We design impactful Brands, then build out beautiful User Interfaces all motviated by creating awe inspiring User Experiences. Your in the right hands.</p>
                    <div>
                      <span class="badge badge-pill badge-info">user experience</span>
                      <span class="badge badge-pill badge-info">user interface</span>
                      <span class="badge badge-pill badge-info">branding</span>
                    </div>
                    <a href="#" class="btn btn-info mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-app"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Build</h6>
                    <p class="description mt-3">We build cutting edge Digital Infrastructure. From your Social Pages, Websites, Online Stores, Apps and Integrations. We build visions.</p>
                    <div>
                      <span class="badge badge-pill badge-success">website</span>
                      <span class="badge badge-pill badge-success">ecommerce</span>
                      <span class="badge badge-pill badge-success">app</span>
                      <span class="badge badge-pill badge-success">integration</span>
                    </div>
                    <a href="#" class="btn btn-success mt-4">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-chart-bar-32"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Grow</h6>
                    <p class="description mt-3">We have focused on Growth Hacking as a tool and technique to execute growth goals. Marketing, Analytics, Optimization and Automation.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">marketing</span>
                      <span class="badge badge-pill badge-warning">experimentation</span>
                      <span class="badge badge-pill badge-warning">automation</span>
                    </div>
                    <a href="#" class="btn btn-warning mt-4">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-md-2">
            <%= image_tag("innogine-company.png", :alt => "innogine-company", :class => "img-fluid floating")%>
          </div>
          <div class="col-md-6 order-md-1">
            <div class="pr-md-5">
              <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle mb-5">
                <i class="ni ni-settings-gear-65"></i>
              </div>
              <h3>An inspired company</h3>
              <p>Innogine was created because its founders felt that there was a need for a more robust solution that was premium and all inclusive. Our goal is to provide a service that offers real value with products that make a real difference.</p>
              <ul class="list-unstyled mt-5">
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-settings-gear-65"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Carefully crafted solutions</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-html5"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">Amazing team of professionals</h6>
                    </div>
                  </div>
                </li>
                <li class="py-2">
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="badge badge-circle badge-info mr-3">
                        <i class="ni ni-satisfied"></i>
                      </div>
                    </div>
                    <div>
                      <h6 class="mb-0">A dedication to quality and inclusion</h6>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="section bg-innogine-light">
      <div class="container">


        <div class="row justify-content-center text-center mb-lg">
          <div class="col-lg-8">
            <h2 class="display-3">Our Work</h2>
            <p class="lead text-muted">A reputation is built on the value you give. We are currently in the process of developing that reputation so allow us to give you value. Let us be your digtal partners. Let us help you realise your vision.</p>
          </div>
        </div>
        <div>
            <div class="nav-wrapper"> 
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item"> 
                        <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-icons-text-1-tab" data-toggle="tab" href="#tabs-icons-text-1" role="tab" aria-controls="tabs-icons-text-1" aria-selected="true"><i class="ni ni-ruler-pencil mr-2"></i>Design</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mb-sm-3 mb-md-0" id="tabs-icons-text-2-tab" data-toggle="tab" href="#tabs-icons-text-2" role="tab" aria-controls="tabs-icons-text-2" aria-selected="false"><i class="ni ni-app mr-2"></i>Development</a>
                    </li>
                </ul>
            </div>

            <div class="card shadow" style="margin-bottom: 15px;">
                <div class="card-body">
                    <div class="tab-content" id="myTabContent">



                        <div class="tab-pane fade show active" id="tabs-icons-text-1" role="tabpanel" aria-labelledby="tabs-icons-text-1-tab">

                            <div class="container container-lg">
                                <div class="row">
                                    <div class="col-md-6 mb-5 mb-md-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/landing.html" title="Innogine Brand">
                                                <%= image_tag("innogine-work-design-1.png", :alt => "innogine-brand", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Illu Brand">
                                                <%= image_tag("innogine-work-design-2.png", :alt => "illu-brand", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="kM^2 Brand">
                                                <%= image_tag("innogine-work-design-3.png", :alt => "km2-brand", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="MIDD Brand">
                                                <%= image_tag("innogine-work-design-4.png", :alt => "midd-brand", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>







                        <div class="tab-pane fade" id="tabs-icons-text-2" role="tabpanel" aria-labelledby="tabs-icons-text-2-tab">



                            <div class="container container-lg">
                                <div class="row">
                                    <div class="col-md-6 mb-5 mb-md-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/landing.html" title="Croc Jams Web App">
                                                <%= image_tag("innogine-work-dev-1.png", :alt => "croc-jams-app", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Croc Chat Web App">
                                                <%= image_tag("innogine-work-dev-2.png", :alt => "croc-chat-app", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Kwena Mokgohlwa Website">
                                                <%= image_tag("innogine-work-dev-3.png", :alt => "kwena-m-site", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Crocipedia Web App">
                                                <%= image_tag("innogine-work-dev-4.png", :alt => "crocipedia-app", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Croc Todo Website">
                                                <%= image_tag("innogine-work-dev-5.png", :alt => "croc-todo-site", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-5 mb-lg-0">
                                        <div class="card card-lift--hover shadow border-0">
                                            <a href="../examples/profile.html" title="Color Croc Website">
                                                <%= image_tag("innogine-work-dev-6.png", :alt => "color-croc-site", :class => "card-img")%>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>

                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>


    <section class="section pb-0 bg-gradient-innogine">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              <%= image_tag("innogine-promo.png", :alt => "devices", :class => "img-center img-fluid floating")%>
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-building text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Trust In Innogine</h4>
                <p class="text-white">Our greatest desire is to impact and create great change. Partner with us and lets do it together.</p>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                      <i class="ni ni-satisfied"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-success">Design</h5>
                    <p>Impactful design is where we start. Where we end is magic. Parnter with Innogine to leave an impression.</p>
                    <a href="#" class="text-success">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div>
                    <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                      <i class="ni ni-active-40"></i>
                    </div>
                  </div>
                  <div class="pl-4">
                    <h5 class="title text-warning">Development</h5>
                    <p>We are builders at our core. With the right tools your well on your way to your goals and we can build them, custom!</p>
                    <a href="#" class="text-warning">Learn more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section section-lg">
      <div class="container">
        <div class="row justify-content-center text-center mb-lg">
          <div class="col-lg-8">
            <h2 class="display-3">The amazing Team</h2>
            <p class="lead">It took years to develop our vision. It took more years to develop the experties need to execute it. To bring it to this level took collaboration. Premium, thats what we are about. Let us execute your vision, the way no other can - "The Innogine Way"</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <div class="px-4">
              <%= image_tag("kwena_mokgohlwa.jpg", :alt => "kwena", :class => "rounded img-center img-fluid shadow shadow-lg--hover", :style => "width: 200px;")%>
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Kwena Mokgohlwa</span>
                  <small class="h6 text-muted">DESIGNER / DEVELOPER</small>
                </h5>
                <div class="mt-4">
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#" class="btn btn-warning btn-icon-only rounded-circle">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5 mb-md-0">
            <div class="px-4">
              <%= image_tag("thabang_lethoko.jpg", :alt => "thabang", :class => "rounded img-center img-fluid shadow shadow-lg--hover", :style => "width: 200px;")%>
              <div class="pt-4 text-center">
                <h5 class="title">
                  <span class="d-block mb-1">Thabang Lethoko</span>
                  <small class="h6 text-muted">DIGITAL MARKETING</small>
                </h5>
                <div class="mt-4">
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-instagram"></i>
                  </a>
                  <a href="#" class="btn btn-primary btn-icon-only rounded-circle">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg pt-0">
      <div class="container">
        <div class="card bg-gradient-innogine shadow-lg border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="text-white">"Our secret is that we leave nothing to chance"</h3>
                <p class="lead text-white mt-3">We are dedicated to our vision and that is to bring a new standard of quality to all sizes of business. Take a moment to go through our simple vision discovery process to get a free consultation. You will get a chance to speak to the founders of Innogine who are passionate about your vision.</p>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-block btn-white"><i class="ni ni-bulb-61"></i>Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-lg bg-gradient-innogine" id="build">
      <div class="container pt-lg pb-300">
        <div class="row text-center justify-content-center">
          <div class="col-lg-10">
            <h2 class="display-3 text-white">Build something</h2>
            <p class="lead text-white">We can't wait to work on your project. Great ideas excite us! All it takes is for you to make that choice to start. We are ready, are you?</p>
          </div>
        </div>
        <div class="row row-grid mt-5">
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-settings text-primary"></i>
            </div>
            <h5 class="text-white mt-3">Build</h5>
            <p class="text-white mt-3">We have a unique and proven method of building quality products and digital infrastructure.</p>
          </div>
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-ruler-pencil text-primary"></i>
            </div>
            <h5 class="text-white mt-3">Grow</h5>
            <p class="text-white mt-3">We offer an all encompassing solution, no stone unturned. Growth is our focus and this is what we concentrate once your solution is built.</p>
          </div>
          <div class="col-lg-4">
            <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
              <i class="ni ni-atom text-primary"></i>
            </div>
            <h5 class="text-white mt-3">Launch</h5>
            <p class="text-white mt-3">This is where we shine. Results! Our reputation is built on how successful you are. We are growth hackers, and our target is your success.</p>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <section class="section section-lg pt-lg-0 section-contact-us">
      <div class="container">
        <div class="row justify-content-center mt--300">
          <div class="col-lg-8">
            <div class="card bg-gradient-secondary shadow">
              <div class="card-body p-lg-5">
                <h4 class="mb-1">Want to work with us?</h4>
                <p class="mt-0">Your project is very important to us.</p>
                <div class="form-group mt-5">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                    </div>
                    <input class="form-control" placeholder="Your name" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email">
                  </div>
                </div>
                <div class="form-group mb-4">
                  <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                <div>
                  <button type="button" class="btn btn-innogine btn-round btn-block btn-lg">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer has-cards" >
    

      <div class="container" style="margin-top: 200px;">
        <div class="card card-profile shadow mt--300">
          <div class="px-4">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image" >
                  <a href="#">
                    <%= image_tag("innogine-profile.png", :alt => "innogine-profile", :class => "img-fluid rounded shadow-lg ") %>
                  </a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
                <div class="card-profile-actions py-4 mt-lg-0">
                  <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                  <a href="#" class="btn btn-sm btn-default float-right">Message</a>
                </div>
              </div>
              <div class="col-lg-4 order-lg-1">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <span class="">8-5</span>
                    <span class="description">Hours</span>
                  </div>
                  <div>
                    <span class="">M-F</span>
                    <span class="description">Days</span>
                  </div>
                  <div>
                    <span class="">Active</span>
                    <span class="description">Status</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center mt-5">
            <%= image_tag("innogine-mockup.png", :alt => "innogine-mockup", :class => "img-fluid") %>
            </div>
            <div class="mt-5 py-5 border-top text-center">
              <div class="row justify-content-center">
                <div class="col-lg-9">
                  <p>You've made it this far. Have a look at our services if your not too sure. Hopefully you'll see what value we can bring to your project.</p>
                  <a href="#">Services</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



    <div class="container">
      <div class="row row-grid align-items-center my-md">
        <div class="col-lg-6">
          <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
          <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
        </div>
        <div class="col-lg-6 text-lg-center btn-wrapper">
          <a target="_blank" href="https://twitter.com/creativetim" class="btn btn-neutral btn-icon-only btn-twitter btn-round btn-lg" data-toggle="tooltip" data-original-title="Follow us">
            <i class="fa fa-twitter"></i>
          </a>
          <a target="_blank" href="https://www.facebook.com/creativetim" class="btn btn-neutral btn-icon-only btn-facebook btn-round btn-lg" data-toggle="tooltip" data-original-title="Like us">
            <i class="fa fa-facebook-square"></i>
          </a>
          <a target="_blank" href="https://dribbble.com/creativetim" class="btn btn-neutral btn-icon-only btn-github btn-lg btn-round" data-toggle="tooltip" data-original-title="Follow us">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
      </div>
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            &copy; 2018
            <a href="https://www.creative-tim.com" target="_blank">Innogine</a>.
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Innogine</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
