<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Innogine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('innogine-favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P78TSZS');</script>
    <!-- End Google Tag Manager -->

    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('vegv3ge9g58g');
    </script>
    <!-- End of Async Drift Code -->

  </head>

  <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P78TSZS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header class="header-global">
      <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom nav-spacer">
        <div class="container">
          <a class="navbar-brand  mr-lg-10" href="../index.html">
            <%= image_tag("innogine-logo-v2.png", :alt => "white") %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbar_global">
            <div class="navbar-collapse-header">
              <div class="row">
                <div class="col-6 collapse-brand">
                  <a href="../index.html">
                    <%= image_tag("innogine-logo-v2-absolute.png", :alt => "blue") %>
                  </a>
                </div>
                <div class="col-6 collapse-close">
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                  </button>
                </div>
              </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                  <i class="ni ni-ui-04 d-lg-none"></i>
                  <span class="nav-link-inner--text">Services</span>
                </a>
                <div class="dropdown-menu dropdown-menu-xl">
                  <div class="dropdown-menu-inner">
                    <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                        <i class="ni ni-ruler-pencil"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-info mb-md-1">Design</h6>
                        <p class="description d-none d-md-inline-block mb-0">Learn more about our branding and user interface design services.</p>
                      </div>
                    </a>
                    <a href="https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                        <i class="ni ni-app"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h6 class="heading text-success mb-md-1">Build</h6>
                        <p class="description d-none d-md-inline-block mb-0">Learn more about our website, ecommerce and application development services.</p>
                      </div>
                    </a>
                    <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html" class="media d-flex align-items-center">
                      <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                        <i class="ni ni-chart-bar-32"></i>
                      </div>
                      <div class="media-body ml-3">
                        <h5 class="heading text-warning mb-md-1">Grow</h5>
                        <p class="description d-none d-md-inline-block mb-0">Learn more about our marketing, analytics, optimiation and automation services.</p>
                      </div>
                    </a>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
                  <i class="ni ni-collection d-lg-none"></i>
                  <span class="nav-link-inner--text">Store</span>
                </a>
                <div class="dropdown-menu">
                  <a href="../examples/landing.html" class="dropdown-item">Printing</a>
                  <a href="../examples/profile.html" class="dropdown-item">Domain</a>
                  <a href="../examples/login.html" class="dropdown-item">Hosting</a>
                  <a href="../examples/register.html" class="dropdown-item">Security</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
                  <i class="fa fa-facebook-square"></i>
                  <span class="nav-link-inner--text d-lg-none">Facebook</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
                  <i class="fa fa-instagram"></i>
                  <span class="nav-link-inner--text d-lg-none">Instagram</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
                  <i class="fa fa-twitter-square"></i>
                  <span class="nav-link-inner--text d-lg-none">Twitter</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system" target="_blank" data-toggle="tooltip" title="Star us on Github">
                  <i class="fa fa-linkedin"></i>
                  <span class="nav-link-inner--text d-lg-none">LinkedIn</span>
                </a>
              </li>
              <li class="nav-item d-none d-lg-block ml-lg-4">
                <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon">
                    <i class="fa fa-envelope"></i>
                  </span>
                  <span class="nav-link-inner--text">Contact Us</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
